
.nav{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(0, 0, 0);
    padding: 0 16px;
    height:56px;
    // background-color:$main;
}
.nav__group--1{
    display:flex;
    align-items:center;
    .nav__btn-NavToggle{
        background-color:transparent;
        display:flex;
        gap:6px;
        flex-direction:column;
        border:none;
        cursor: pointer;
        width:24px;
        aspect-ratio:1;
    
        .line{
            width:22px;
            height:1px;
            border-radius:10%;
            background-color:white;
        }
    }
}
.nav__group--2{
    display:flex;
    .nav__searchGroup{
        display:flex;
        border-radius: 20%;
    }
}
